.page-wrapper {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.section {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 1rem;
  width: 100%;
}

#section-1 {
}

/** Main Text**/

.main-texts {
}

.main-text {
}

.main-text-title {
}

.main-text-body {
}

/** Message **/

.messages {
}

.message {
}

.message-avatar {
}

.message-date {
}

.message-forwarded-from {
}

.message-body {
}

.message-view-count {
}

.message-time {
}

