:root {
  --black: #000000;
  --white: #ffffff;
  --grey-light: #d9d9d9;
  --grey-dark: #a9a4a4;

  --red: #E4003B;
  --blue: #0087DC;
  --green: #33FF00;
  
  --default-radius: 30px;
  --max-section-width: 800px;
}

html body {
  color: var(--black);
  font-family: Inter, sans-serif;
}

h1 {
  padding: 2rem 0 0 0;
}

p {
  margin-bottom: 1rem;
}

.page-wrapper {
  text-align: center;
}

.section {
  margin: 0 auto;
  padding: 4.5rem 1rem;
  width: 100%;
}

#section-2,
#section-3 .graph-container,
#section-4,
#section-5,
#section-7 {
  background: var(--black);
}

#section-8,
#section-9 {
 max-width: 100%;
 width: 100%;
}

#section-8 h2.heading {
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: var(--max-section-width);
  padding: 2rem 0;
  width: 100%;
}

/** Main Text **/

.main-texts {
  margin: 0 auto;
  max-width: var(--max-section-width);
}

.main-text {
  background: var(--white);
  border: solid var(--black) 1px;
  border-radius: var(--default-radius);
  padding: 30px 30px 20px 30px;
  text-align: left
}

.main-text-title {
  font-size: 1.375rem;
  padding: 0 0 20px 0;
}

.main-text-body {
  background: url(/images/main-text-icons.svg) bottom right no-repeat;
  background-size: 70px;
  font-size: 1.25rem;
  padding-bottom: 40px;
}

/** Post **/

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 55px;
  max-width: 420px;
  text-align: center;
}

.post-inner {
  border: solid var(--black) 1px;
  border-radius: var(--default-radius);
  padding: 10px 20px;
}

#section-7 .post-inner {
  border: solid var(--white) 1px;
  color: var(--white);
}

.post-avatar {
  margin: -55px 0 0 -55px;
  align-self: start;
}

.post-date {
  background-color: var(--grey-light);
  border-radius: var(--default-radius);
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0;
  padding: 4px 0;
  width: 250px;
}

.post-forwarded-from {
  background: url(/images/arrow_email_forward_post_right_icon.svg) no-repeat;
  font-size: 0.75rem;
  font-weight: normal;
  padding: 5px 0 0 28px;
  text-align: left;
}

.post-body {
  font-size: 1.125rem;
  padding: 20px 0;
  text-align: left;
}

.post-meta-info {
  color: var(--grey-dark);
  font-size: 1rem;
  text-align: right;
}

.post-view-count {
  background: url(/images/eye.svg) no-repeat;
  padding: 10px 0 0 30px;
}

.post-time {
  padding-left: 10px;
}

/* Video */
.video-container {
  height: 0px;
  margin-bottom: 2em;
  padding-top: 56.25%;
  position: relative;
}

.video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** Message **/
.messages {
  border: solid 1px var(--grey-dark);
  margin: 0 auto;
  max-width: 1040px;
}

.messages h3 {
  background-color: var(--grey-light);
  padding: 10px 20px;
}

.messages-inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-body {
  border: solid 1px var(--grey-dark);
  border-radius: 2rem;
  margin: 10px 0;
  padding: 20px;
}

.message.left {
  margin-right: 30%;
}

.message.right {
  margin-left: 30%;
}
.message.left .message-body {
  background-color: var(--grey-light);
}

.message-time {
  margin: 10px 0;
}

.message.right .message-time {
  text-align: right;
}

/** Image **/

.images {
  margin-top: 3rem;
  position: relative;
}

.image {
  position: sticky;
  top: 3rem;
}

.image img {
  margin: 0 auto;
}

#section-4 .image img {
  max-width: 80%;
  opacity: 50%;
}

#section-4 .image img[alt="Image Recognition 1"] {
  opacity: 90%;
}

/** Chart **/
.graph-container {
  color: var(--grey-light);
  margin: 2rem auto;
  padding: 4rem 0 2rem 0;
}

.chart {
  font-size: 0.75rem;
  margin: 4rem auto;
  max-width: 750px;
}

/** Faces with information **/
.faces-with-info {
  align-items: flex-start;
  background-image: url(/images/info-faces/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  justify-content: center;
  width: 100%;
}

#profile-fade-image-1 {
  padding: 4rem 1rem;
}

#profile-fade-image-2 {
  padding: 6rem 1rem 0 0;
}

#profile-fade-image-3 {
  padding: 2rem 1rem 0 0;
}

.profile-info {
  font-size: 0.75rem;
  margin-top: 100px;
  padding-left: 1rem;
}

.profile-info p {
  margin-bottom: 0;
}

/** Portrait **/
.portraits {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.portrait {
  height: 100%;
  justify-content: center;
  opacity: 2%;
  width: 80px;
}

/** TTTY Terminal **/
.ttty-terminal-container {
  margin: 2rem auto;
  max-width: var(--max-section-width);
  text-align:left;
}

ttty-terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

ttty-terminal.terminal {
  --terminal-bg-color: var(--black);
  --terminal-fg-color: var(--white);
  /* --terminal-font: */
  --terminal-accent-color: var(--white);
  --terminal-error-color: var(--red);
}

ttty-terminal .terminal-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/** Ticker **/
.tickers {
  height: 0;
}

.ticker {
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  position: relative;
  width: fit-content;
  z-index: 99;
}

/** Final ticker **/
h2.final-ticker {
  font-size: 6rem;
  margin: 10px auto;
  padding: 1rem 6rem;
}
