:root {
  --black: #000000;
  --white: #ffffff;
  --grey-light: #d9d9d9;
  --grey-dark: #a9a4a4;

  --red: #e4003b;
  --blue: #0087dc;
  --green: #33ff00;

  --default-radius: 30px;
  --max-section-width: 800px;
}

html body {
  background-color: var(--black);
  color: var(--white);
  font-family: "Courier Prime", "Nimbus Mono PS", "Courier New", monospace;
  overflow-x: hidden; /* needed to allow full-bleed elements within sections on chrome */
}

h1 {
  font-family: "TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue",
    "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  background-color: var(--white);
  color: var(--black);
  padding: 2rem 0 0 0;
}

h1.dark {
  background-color: var(--black);
  color: var(--white);
}

h1 span.dud {
  font-weight: normal;
  opacity: 75%;
}

p {
  margin-bottom: 1rem;
}

.page-wrapper {
  text-align: center;
}

.section {
  margin: 0 auto;
  padding: 4.5rem 1rem;
  width: 100%;
}

@media (max-width: 800px) {
  .section {
    padding: 4.5rem 10px;
    width: 100%;
  }
}

a {
  color: var(--white);
}

a:hover,
a:focus {
  color: var(--grey-light);
}

#introduction {
  background-color: var(--white);
  background-image: url(/images/introduction-background.png);
  padding-top: 0;
}

#introduction .introduction {
  color: var(--black);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 4.5rem 1rem;
}

#introduction .main-text-body {
  background: none;
}

#introduction a {
  background-color: var(--black);
  cursor: pointer;
  padding: 1rem 2rem;
  text-decoration: none;
}

#spotlight {
  height: 100vh;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
}

#light-switch {
  background-color: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
}

#light-switch:hover {
  background-color: var(--grey-dark);
}

#ulterior-motives,
#public-order-safety .graph-container,
#panic-lit,
#facial-recognition,
#incompetence-posts-and-papers{
  background: var(--black);
}

#data-loss {
  max-width: 100%;
  width: 100%;
}

#data-loss h2.heading {
  font-family:"TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: var(--max-section-width);
  padding: 2rem 0;
  width: 100%;
}

#royal-mail-negotiation {
  padding-top: 0;
}

/** Context **/
#context {
  background: var(--white);
  border: 2px solid var(--white);
  bottom: 0px;
  color: var(--black);
  font-family: "TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue",
    "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  margin: 1rem;
  max-height: 80vh;
  min-width: 300px;
  outline: var(--black) solid 3px;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  text-align: left;
  width: 25%;
  z-index: 99999;
}

#context:focus-visible {
  /* this section can be focused on by keyboard users when content is scrollable
	 * without this set the default outline overrides the browsers focus indication*/
  outline: var(--blue) solid 5px;
}

.context-header {
  align-items: center;
  display: flex;
  justify-content: end;
}

.context-header a {
  color: var(--black);
  cursor: pointer;
  font-size: 0.75rem;
  padding: 1rem 0;
  text-decoration: underline;
}

.context-header a,
.context-section-title {
  font-family: "TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue",
    "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: right;
}

.context-section-title {
  font-size: 0.875rem;
  padding: 1rem 1.5rem;
}

.context-summary {
  align-items: center;
  border-inline: 2px solid;
  display: flex;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: space-between;
  position: relative;
}

.context-summary::marker {
  content: none;
}

.context-summary::after {
  background-image: url(/images/chevron-up.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  height: 1em;
  width: 1em;
}

[open] .context-summary::after {
  background-image: url(/images/chevron-down.svg);
}

.context-body {
  background-color: var(--white);
  border: 2px solid var(--white);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.context-list {
  background-color: var(--white);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.context-subtitle {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.2rem 1.5rem;
  width: 100%;
}

.context-content {
  background-color: var(--black);
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

.references {
  padding-inline-start: 1rem;
}

.reference-link {
  color: var(--white);
  word-wrap: break-word;
}

.reference-link:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
}

/** Main Text **/

.main-texts {
  margin: 0 auto;
  max-width: var(--max-section-width);
}

.main-text {
  padding: 30px 30px 20px 30px;
  text-align: left;
}

@media (max-width: 800px) {
  .main-text {
    padding: 10px 10px 10px 10px;
    max-width: 600px;
    margin-inline: auto;
  }
}

.main-text-title {
  font-family: "TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue",
    "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  text-align: center;
  font-size: 1.375rem;
  padding: 0 0 20px 0;
}

.main-text-body {
  padding: 30px 30px 20px 30px;
  font-size: 1.25rem;
  padding-bottom: 40px;
}

@media (max-width: 800px) {
  .main-text-body {
    padding: 10px 10px 20px 10px;
  }
}

.hand-drawn-border {
  border-image: url(/images/borders/border.svg) 10 10 10 10 stretch stretch;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
}

@media (min-width: 800px) {
  #public-order-safety .hand-drawn-border,
  #human-cost .hand-drawn-border,
  #ulterior-motives .hand-drawn-border {
    border-image: url(/images/borders/hand-drawn-border-1.svg) 25 25 50 25
      stretch stretch;
    border-style: solid;
    border-width: 25px 25px 50px 25px;
  }

  #section-fourteen .hand-drawn-border,
  #introduction .hand-drawn-border {
    border-image: url(/images/borders/hand-drawn-border-2.svg) 25 25 50 25
      stretch stretch;
    border-style: solid;
    border-width: 25px 25px 50px 25px;
  }

  #incompetence-intro .hand-drawn-border,
  #outro .hand-drawn-border,
  #section-sixteen .hand-drawn-border {
    border-image: url(/images/borders/hand-drawn-border-3.svg) 25 25 100 25
      stretch stretch;
    border-style: solid;
    border-width: 25px 25px 100px 25px;
  }

  #section-thirteen .hand-drawn-border,
  #section-twelve .hand-drawn-border {
    border-image: url(/images/borders/hand-drawn-border-4.svg) 25 25 95 25
      stretch stretch;
    border-style: solid;
    border-width: 25px 25px 95px 25px;
  }
}

/** Post **/

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post {
  align-items: center;
  background: var(--white);
  border-radius: var(--default-radius);
  color: var(--black);
  display: flex;
  flex-direction: column;
  margin: 20px 55px;
  max-width: 420px;
  text-align: center;
}

.post-inner {
  padding: 10px 20px;
}

#ulterior-motives .post {
  background: var(--black);
}

#ulterior-motives .post-inner {
  background: var(--black);
  border: solid var(--white) 1px;
  color: var(--white);
}

.post-avatar {
  align-self: start;
  margin: -55px 0 0 -55px;
}

.post-date {
  background-color: var(--grey-light);
  border-radius: var(--default-radius);
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0;
  padding: 4px 0;
  width: 250px;
}

.post-forwarded-from {
  background: url(/images/arrow_email_forward_post_right_icon.svg) no-repeat;
  font-size: 0.75rem;
  font-weight: normal;
  padding: 5px 0 0 28px;
  text-align: left;
}

.post-body {
  font-size: 1.125rem;
  padding: 20px 0;
  text-align: left;
}

.post-meta-info {
  color: var(--grey-dark);
  font-size: 1rem;
  text-align: right;
}

.post-view-count {
  background: url(/images/eye.svg) no-repeat;
  padding: 10px 0 0 30px;
}

.post-time {
  padding-left: 10px;
}

/* Video */
.video-container {
  background-color: var(--black);
  height: 0px;
  margin-bottom: 2em;
  padding-top: 56.25%;
  position: relative;
}

.video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/** Message **/
.messages {
  border: solid 1px var(--white);
  margin: 0 auto;
  max-width: 1040px;
  word-wrap: break-word;
}

.messages a {
  color: var(--white);
}

.messages a:hover {
  background-color: var(--white);
  color: var(--black);
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 100vw;
}

.messages h3 {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 20px;
}

.messages-inner {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.message-bubble {
  position: relative;
}

.typing-dots {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
}

.right .typing-dots {
  right: 20px;
}

.left .typing-dots {
  left: 20px;
}

.typing-dots .dot {
  background-color: var(--white);
  border-radius: 100%;
  height: 8px;
  width: 8px;
}

.message-body {
  border: solid 1px var(--white);
  border-radius: 2rem;
  margin: 5px 0;
  padding: 15px;
}

.left .message {
  margin-right: 10%;
}

.right .message {
  margin-left: 10%;
}

@media (max-width: 800px) {
  .left .message {
    margin-right: 10%;
  }

  .right .message {
    margin-left: 10%;
  }
}

.left .message .message-body {
  background-color: var(--black);
}

.right .message .message-body {
  background-color: var(--white);
  color: var(--black);
}

.message-avatar-time {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.message-avatar-time img {
  margin-right: 10px;
  width: 50px;
}

.right .message-avatar-time {
  justify-content: end;
}

.left .message-avatar-time {
  justify-content: start;
}

/** Image **/

.images {
  margin-top: 3rem;
  position: relative;
}

.images-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image {
  position: sticky;
  top: 3rem;
}

.image img {
  margin: 0 auto;
}

#facial-recognition .image img {
  max-width: 80%;
  opacity: 50%;
}

#facial-recognition .image img[alt="Image Recognition 1"] {
  opacity: 90%;
}

/** Chart **/
.graph-container {
  color: var(--white);
  margin: 2rem auto;
  padding: 6rem 0 2rem 0;
}

.chart {
  font-size: 0.60rem;
  margin: 4rem auto;
  max-width: 80%;
  font-family: "TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue",
    "Arial Nova", "Nimbus Sans", Arial, sans-serif;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

/** Faces with information **/
.faces-with-info {
  align-items: flex-start;
  background-image: url(/images/info-faces/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 500px;
  justify-content: center;
  width: 100%;
}

#profile-fade-image-1 {
  padding: 4rem 1rem;
}

#profile-fade-image-2 {
  padding: 6rem 1rem 0 0;
}

#profile-fade-image-3 {
  padding: 2rem 1rem 0 0;
}

.profile {
  display: flex;
  flex-direction: row;
}

@media (max-width: 400px) {
  .profile {
    flex-direction: column;
  }
}

.profile-image-container {
  background-color: white;
}

.profile-info {
  background-color: var(--grey-dark);
  font-size: 0.75rem;
  height: 100%;
  margin-left: -70px;
  margin-top: 200px;
  padding: 1rem 1em 1rem 0.5rem;
}

.profile-info p {
  margin-bottom: 0;
}

/** Portrait **/
.portraits {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.portrait {
  height: 100%;
  justify-content: center;
  opacity: 2%;
  width: 80px;
}

/** Terminal **/
.terminal-container {
  font-family: "Source Code Pro", sans-serif;
  margin-top: 4.5rem;
  padding: 4.5rem 0;
}

.terminal {
  border: 2px solid var(--white);
  height: 100%;
  margin: 0 auto;
  max-width: var(--max-section-width);
  overflow: auto;
  text-align: left;
}

.terminal h3 {
  background: var(--white);
  color: var(--black);
  padding: 0 1rem;
}

.terminal h3 + p,
.terminal .output-container {
  padding: 0 1rem;
}

.terminal .input-span .prompt {
  padding-left: 1rem;
}

.terminal .user-name {
  color: var(--green);
}

.terminal .machine-name {
  color: var(--blue);
}

.terminal input,
.terminal-container {
  background: var(--black);
  color: var(--white);
}

.terminal span.command {
  /* add extra pixel because input has cursor */
  margin-left: 0.575rem;
}

.terminal input {
  margin-left: 0.5rem;
}

.terminal input:focus-visible,
.terminal input {
  border: none;
  outline: none;
}

.terminal .help ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}

.terminal .help ul ul {
  padding: 0;
}

.terminal .help .sub-command-list li:not(.requires-sub-commands) {
  padding-left: 1rem;
}

.terminal .help li {
  display: flex;
}

.terminal .help li .command-name {
  font-weight: bold;
  margin-right: 1rem;
}

.terminal .help li .command-name::after {
  content: ":";
}

.terminal .error {
  color: var(--red);
}

/** Ticker **/
.tickers {
  height: 0;
}

@media (max-width: 800px) {
  .tickers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.ticker {
  font-family:"TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  position: relative;
  width: fit-content;
  z-index: 99;
}

/** Final ticker **/
h2.final-ticker {
  font-family:"TT Firs Neue Var Roman", Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-size: 2.5rem !important;
  width:75% !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
}

/** Draggable Pile **/

.pile {
  border-bottom: 1px solid var(--white);
  border-top: 1px solid var(--white);
  height: 100vh;
  /* needed to make element use whole width of screen */
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: 5rem;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.card {
  position: absolute;
}

.image-constraint {
  max-height: 60vh;
  width: 30vw;
}

.post-draggable {
  background-color: var(--white);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  color: var(--black);
  display: grid;
  font-family: monospace;
  font-size: 1rem;
  gap: 1rem;
  grid-template-areas:
    "avatar forwardedFrom"
    "empty content"
    "empty meta";
  grid-template-columns: max-content 1fr;
  grid-template-rows: auto;
  padding: 1rem 2rem;
  width: 520px;
}

.post-avatar-draggable {
  grid-area: avatar;
  width:50px;
}

.post-forwarded-from-draggable {
  grid-area: forwardedFrom;
  padding-top: 0.25rem;
}

.post-content-draggable {
  grid-area: content;
  text-align: left;
}

.post-meta-draggable {
  display: flex;
  flex-direction: row-reverse;
  grid-area: meta;
  justify-content: space-between;
}

.post-view-count-draggable {
  margin-left: 2rem;
  position: relative;
}
.post-view-count-draggable::before {
  content: url(/images/eye.svg);
  display: inline-block;
  left: -2rem;
  position: absolute;
  top: -0.35rem;
}

.post-date-time-draggable {
  display: flex;
  gap: 0.5rem;
}

/** Utils **/

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
